.homePage {
}

.products {
    padding-left: var(--leftRight-margin);
    display: flex;
    margin-bottom: var(--bottom-margin);
    overflow-x: scroll;
}

.products::-webkit-scrollbar {
    display: none;
}
