.ProductPageImageHolder {
    width: 60%;
    height: 80vh;
    /* background-color: red; */
    margin-left: var(--leftRight-margin);
    display: flex;
}

.ProductPage {
    display: flex;
}

.smallHolder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: fit-content;
    margin-right: 10px;
}

.bigProductImage {

    position: relative;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    height: 100%;
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0.177);
}

.smallImageHolder {
    position: relative;
    background-color: rgba(128, 128, 128, 0.177);
    height: 23%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
}
.ProductInfo {

    margin-right: var(--leftRight-margin);
    background-color: aqua;
}

.ProductInfo h2 {
    margin-bottom: 10px;
}
.ProductInfo h4 {

    font-size: 18px;
    margin-bottom: 15px;
}

.line {
    height: 1px;
    width: 100%;
    background-color: black;
}

.countBuy {
    display: flex;
    align-items: center;
}