.SignUpPage {
    /* background-color: red; */
    height: calc(var(--page-height) - 5vh);

    display: flex;
}

.signImageHolder {

    width: 60%;
    height: 100%;
    background-color: aqua;
    position: relative;
}

.SignupFeilds {
    /* background-color: aquamarine; */
    height: 100%;
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.feilds {
    min-width: 250px;
    width: 70%;
    /* background-color: blue; */
}

.feilds h3 {
    /* font-size: 26px; */
    font-weight: 500;
    margin-bottom: 20px;
}
.feilds p {
    /* font-size: 12px; */
}
.feilds .forgot {

    font-weight: 500;
    color: var(--primary-color);
    margin-top: 10px;
    text-align: center;
}

#details {
    margin-bottom: 20px;
}

.feilds input {

    outline: none;
    font-size: 12px;
    padding: 5px 0px;
    margin-bottom: 10px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
}
