.ProductCard {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0px;
    border-radius: 5px;
    margin-right: 10px;

    overflow: hidden;
}


.discount {
    background-color: var(--primary-color);
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}

.CardImageHolder {
    margin-bottom: 20px;
    height: 100%;
    /* min-width: 200px; */
    position: relative;
}

.CardImageHolder img {
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.164);
}

.CardImageHolder .discount {
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: 10px;
}
.prices {
    display: flex;
}
.prices h4 {
    margin-right: 10px;
}

.new, .old {
    margin: 3px 0px;
    font-size: 14px;
}
.prices .new {
    color: var(--primary-color);
}

.prices .old {
    color: grey;
}
.ratingHolder {
    display: flex;
    align-items: center;
}
.ratings {
    height: 20px;
    margin-right: 10px;
}


.ProductCard:hover {
    background-color: rgba(128, 128, 128, 0.034);
    cursor: pointer;
}

.CardLink {
    /* width: 380px; */
    display: block;
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 900px){
    .ProductCard {
        width: 150px;
        height: 220px;
    }
    .CardImageHolder {
        margin-bottom: 5px;
    }
    .ProductCard h3 {
        font-size: 14px;
    }
    .ProductCard h4 {
        font-size: 12px;
    }
    .ratings img{
        height: 15px;
        width: 15px;
    }
    .discount {
        font-size: 10px;
    }
}