.homePage {
    display: flex;
    /* flex-direction: column; */
    overflow-x: scroll;
    overflow-y: hidden;
    /* min-height: var(--page-height); */
    padding-left: var(--leftRight-margin);
    margin-bottom: var(--bottom-margin);
}

.homePage::-webkit-scrollbar {
    display: none;
}