:root {
  --primary-color: rgb(224,68,68);
  --leftRight-margin: 80px;
  --grey-color: rgba(134, 134, 134, 0.562);
  --bottom-margin: 30px;
  --spacer: 8px;
  --page-height: calc(100vh - 80px - var(--bottom-margin))
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p  { font-weight: 300; font-size: clamp(10px , 1vw , 16px);}
h4 { font-weight: 500; font-size: clamp(12px, 2vw, 14px);}
h3 { font-weight: 600; font-size: clamp(14px, 3vw, 16px); }


@media screen and (max-width: 900px){
  h2 { font-size: 18px;}

  :root {
  --leftRight-margin: 40px;
  }

  p { font-weight: 300; font-size: clamp(14px , 1vw , 16px);}

}