.bottomNav {
    background-color: black;
    /* min-height: 700px; */

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 50px var(--leftRight-margin);
    margin-top: var(--bottom-margin);
}

.bottomNav h3 {
    margin-bottom: 15px;
}
.bottomNav ul {
    width: 120px;
    list-style: none;
}

.bottomNav ul li {
    cursor: pointer;
    margin-bottom: 10px;
}
.bottomNav ul li:hover {
    color: rgb(169, 169, 169);
}
.InputIconHolder {
    position: relative;
}

.column {
    padding:0px 20px 20px 0px;
}

.InputIconHolder input{
    
    color: white;
    width: 150px;
    background-color: black;
    outline: none;
    border: 1px solid white;
    padding: 5px 10px;
    padding-right: 30px;
    /* font-size: 12px; */
    border-radius: 5px;

    margin-bottom: 20px;
}

.emailIconSend {
    position: absolute;
    filter: invert(1);
    transform: translate(-30px,3px);
}


.Download {
    width: 100%;
    min-height: 65px;
    position: relative;
}

.RightsRes {
    padding-bottom: 15px;
    text-align: center;
    width: 100%;
    background-color: black;
    color: var(--grey-color);
}