.AboutReportCard {
    min-height: 160px;
    width: 250px;
    border: 1px solid var(--grey-color);
    padding: 10px 0px;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-around;
}

.circleOuter {

    display: grid;
    place-content: center;
    width: 60px;
    height: 60px;
    background-color: var(--grey-color);
    border-radius: 50%;
}

.circleInner {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
}

.AboutReportCard:hover {
    background-color: var(--primary-color);
    color: white;
}

.AboutReportCard:hover .circleInner {
    background-color: white;
}